* {
  margin: 0;
  padding: 0;
}
header {
  height: 60px;
  background-color: #485056;
  display: flex;
}
.category-wrap {
  padding: 15px;
  background: #485056;
  width: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.category-wrap li {
  margin: 12px 0 0 0px;
  border-bottom: 1px  solid  whitesmoke;
}
.category-wrap a {
  text-decoration: none;
  display: block;  
  font-size: 13px;
  color: white;
  padding: 5px;
  position: relative;
  transition: .3s linear;
}
.category-wrap ul {
  list-style: none;
  margin-top: -3px;
  padding: 0; 
  background-color: #485056;
  position: absolute;
  display: none;
}
.category-wrap:hover ul.nav {
  display: block;
}
ul {
  width: 150px;
}