.transition {
  width: 300px;
  height: 50px;
  color: red;
  border: 1px solid red;
  font-size: 15px;
  transition-property: width font-size;
  transition-duration: 1s;
  transition-timing-function: easy-out;
  transition-delay: 0;
}
.transition:hover {
  width: 100%;
  font-size: 25px;
}