.transition {
  width: 300px;
  height: 100px;
  border: 1px solid red;
  color: red;
  background-color: white;
  transition-property: background-color color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transition-delay: 0;
}

.transition:hover {
  background-color: red;
  color: white;
}