.form__wrapper {
  width: 800px;
  height: 500px;
  border: 1px solid royalblue;
  margin-top: 100px;
  margin-left: auto ;
  margin-right: auto;
}
.form__wrapper form > div {
  margin-top: 15px;
}
input {
  display: inline-block;
}
select.form__input {
  display: inline-block;
  width: 256px;
  height: 29px;
}
label.form__label {
  display: inline-block;
  width: 200px;
  height: 15px;
  margin-right: 10px;
  text-align: right;
}
.form__input {
  border: 1px solid royalblue;
  width: 250px;
  height: 25px;
}
textarea.form__input {
  border: 1px solid royalblue;
  resize: none;
  width: auto;
  height: auto;
}
input.form__spam {
  border: 1px solid royalblue;
  height: 25px;
}
input.form__submit {
  margin: auto auto auto 214px;
}
.spam__block {
  display: flex;
  margin-left: 4px;
}
img {
  margin-left: 20px;
  width: 150px;
  height: 50px;
  border: 1px solid royalblue;
}
a {
  margin-left: 20px;
  color: black;
}