.transition {
  width: 400px;
  height: 50px;
  border: 1px solid red;
  background-color: white;
  transition-property: width;
  transition-duration: 1s;
  transition-delay: 0;
  transition-timing-function: easy-out;
}
.transition:hover {
  width: 100%;
}