* {
  margin: 0;
  padding: 0;
}
header  {
  width: 100%;
  height: 60px;
  background-color: #b6a3a8;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar  {
  width: 800px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  list-style-type: none;
  font-size: 25px;
  margin: auto;
}
li {
  padding: 12px 17px;
  border-right: 1px solid #b58b95;
}
a {
  text-decoration: none;
  color: black;
  -moz-transition: all 0.3s 0.01s ease;
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
a:hover {
  background:#1C85BB;
}