.transition {
  width: 300px;
  height: 50px;
  border: 1px solid red;
  margin-left: 0;
  transition-property: width margin-left;
  transition-duration: 1s;
  transition-timing-function: easy-out;
  transition-delay: 0;
}
.transition:hover {
  width: 1000px;
  margin-left: 100px;
}