* {
  margin: 0;
  padding: 0;
}
.header{
	height: 485px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
  background: url(../img/poem1.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
.header__title{
  height: 23%;
  width: 100%;
  margin-top: 63px;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
	justify-content: space-around;
	align-items: center;
}
h1 {
  font-family: 'Caveat', cursive;
  font-size: 100px;
  text-align: center;
  font-weight: normal;
}
h2 {
  font-family: 'Caveat', cursive;
  font-size: 30px;
  color:rgba(255, 255, 255, 0.5);
  font-weight: normal;
  text-transform: uppercase;
  display: inline-flex;
  align-items: flex-end;
  float: right;
}
h3{
  font-family: 'Caveat', cursive;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
}
.blocks__container {
  height: 52%;
  width: 80%;
  display: flex;
	justify-content: space-around;
	align-items: center;
}
.text__block__1 {
  height: 90%;
  width: 30%;
  display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 1px black;
  color:rgba(255, 255, 255, 0.5);
}
.text__block__2 {
  height: 90%;
  width: 30%;
  display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 1px black;
  color:rgba(255, 255, 255, 0.5);
}
.text__block__3 {
  height: 90%;
  width: 30%;
  display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 1px black;
  color:rgba(255, 255, 255, 0.5);
}
.text__block__content {
  height: 80%;
  width: 80%;
}
.text__block__content img {
  float: right;
}
.text__block__content p {
  text-align: end;
}
.content {
  margin-top: 30px;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
.block__content__1 {
  height: 80%;
  width: 40%;
}
.block__content__2 {
  height: 80%;
  width: 25%;
}
.block__content__2 p {
  text-indent: 20px;
}