* {
  margin: 0;
  padding: 0;
}
.grid__1 {
  display: grid;
  grid-template-rows: 25vh 25vh 25vh 25vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-image: url(../img/bg-1.jpeg);
  background-size: 100% 100%;
}
.grid__2 {
  display: grid;
  grid-template-rows: 25vh 25vh 25vh 25vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-image: url(../img/bg-2.jpeg);
  background-size: 100% 100%;
}
.grid__1 > div {
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-family: 'Saira', sans-serif;
  position: relative;
}
.grid__2 > div {
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-family: 'Saira', sans-serif;
  position: relative;
}
.block {
  display: flex;
  align-items: center;
}
.block__number__1 {
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  font-size: 17px;
  letter-spacing: unset;
  top: 5px;
  right: 5px;
}
.block__number__2 {
  position: absolute;
  top: 5px;
  left: 5px;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Lexend Zetta', sans-serif;
  font-size: 13px;
}
.plus {
  color: rgba(255, 255, 255, 0.4);
  position: absolute;
  font-size: 22px;
  top: -20px;
  left: -7px;
}
.grid__1 > div:nth-child(2) {
  grid-row: 1/4;
  grid-column: 2/3;
  background-color: #af0912;
}
.grid__2 > div:nth-child(8) {
  grid-row: 2/4;
  grid-column: 2/6;
  background-color: #af0912;
}
.grid__1 > div:nth-child(6) {
  background-color: #af0912;
}
.grid__2 > div:nth-child(6) {
  background-color: #af0912;
}
.grid__1 > div:nth-child(17),
.grid__1 > div:nth-child(18),
.grid__1 > div:nth-child(19) {
  backdrop-filter: blur(3px);
} 
.content__row__1 {
  color: white;
  font-size: 13px;
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.content__row__2 {
  position: absolute;
  color: white;
  align-items: center;
}
.content__row__3 {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 112px;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  left: 114%;
  transform: translate(-50%, -50%);
}
.content__row__4 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  text-align: center;
  font-family: 'Mulish', sans-serif;
  letter-spacing: -1px;
  width: 100%;
  line-height: 37px;
}
.fa-mixcloud, .fa-shield-alt, .fa-file-alt {
  font-size: 25px;
}
.grid__1 > div:nth-child(1) img {
  width: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.grid__2 > div:nth-child(1) img {
  width: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.round {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none !important;
  text-align: center; 
  background: rgba(255, 255, 255, 0.3)!important;
}
.grid__1 > div:nth-child(8) .round {
  position: absolute;
  top: 50%;
  left: 56%;
  transform: translate(-50%, -50%)
}
.fa-circle {
  position: absolute;
  color: #af0912;
  font-size: 8px;
  margin: auto;
  left: 0;
  right: 0;
  top: 10px;
}
.grid__1 > div:nth-child(10) .round {
  position: absolute;
  bottom: 0;
  right: 0;
}
.content__row__4__1 {
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 112px;
  letter-spacing: 3px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.grid__1 > div:nth-child(14) .round {
  position: absolute;
  bottom: 10px;
  right: 47px;
}
