.transition {
  width: 300px;
  height: 50px;
  background-color: white;
  border: 1px solid red;
  color: black;
  text-indent: 2500px;
  line-height: 50px;
  text-align: center;
  white-space: nowrap;
  transition-property: text-indent;
  transition-timing-function: linear;
  transition-duration: 1s;
}
.transition:hover {
  color: black;
  text-indent: 0px;
}